# Logger
log4j.rootLogger=INFO, FILE
{# raw-endraw -välillä template engine ei tee mitään! #} 
{% raw %}
# Console output
log4j.appender.STDOUT=org.apache.log4j.ConsoleAppender
log4j.appender.STDOUT.Threshold=ERROR
log4j.appender.STDOUT.layout.ConversionPattern=%d{ISO8601} %-5p {%X{user}} [%t] %-5p %c: %m%n
# File output
log4j.appender.FILE.Threshold=INFO
log4j.appender.FILE.File=${user.home}/logs/oph-vtemailer.log
log4j.appender.FILE=org.apache.log4j.RollingFileAppender
log4j.appender.FILE.Append=true
log4j.appender.FILE.layout=org.apache.log4j.PatternLayout
log4j.appender.FILE.layout.ConversionPattern=%d{ISO8601} %-5p {%X{user}} [%t] %-5p %c: %m%n
log4j.appender.FILE.MaxFileSize=10MB
log4j.appender.FILE.MaxBackupIndex=200
{% endraw %}

